:root {
  --cor0: #2C3E50;
  --cor1: #FFF;
  --cor2: #2980B9;
  --cor3: #385af3;
  --cor4: #1B2631;
  --cor5: #7F8C8D;
  --cor6: #fffd82;
}


body{
  background-color: var(--cor0);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}

header > h1 {
  text-align: center;
  background-color: var(--cor0);
  min-height: 100px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  border-radius: 0px 0px 0px 0px;
}
header > nav {
  background-color: var(--cor1);
  border-radius: 0px 0px 15px 15px;
  padding-top: 10px;
  margin-bottom: 50px;
}
header > nav > div > a {
  background-color: var(--cor3);
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--cor4);
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 13px;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
#anuncio{
  text-align: center;
  height: 0px;
  font-size: 1.4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 0%;
  font-weight: 500;
}
#div_perfil{
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
  height: 0px;
  padding-bottom: 0px;
}
#div_login{
  text-align: right;
  margin-right: 20px;
  height: 30px;
  font-weight: bold;
}
main{
  background-color: white;
  margin-left: 100px;
  border-radius: 10px;
  height: 300px;
  width: 1400px;
  margin-top: 0%;
  margin-bottom: px;
}
main > h3{
  text-align: center;
  white-space: nowrap;
}
main > p{
  text-align: center;
  white-space: nowrap;
}
aside{
  text-align: center;
  margin-left: 1500px;
  background-color: white;
  width: 250px ;
  height: 1320px;
  border-radius: 0px 10px 10px 0px ;
}




.product-list1-section{
    display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  

}
/* Estilo para o título "Produtos" */
.product-list1-section h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  /* Estilo para o filtro de preço */
  .product-filter label {
    font-weight: bold;
  }
  
  .product-filter select {
    margin-left: 8px;
    padding: 4px;
  }
  
  /* Estilo para os itens de produto */
  .product-list1 {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  .product-list1 li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .product-list1 li img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
  }
  
  .product-list1 li h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .product-list1 li p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
  }
  .product-list1 button {
    background-color: #385af3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 5px;
  }
  /* List 2 */
  .product-list2 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  .product-list2 li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    /* position: fixed; */
    top: 10cm;
    left: 10cm;
    /* margin-left: 30%; */
    
    
  }
  
  .product-list2 li img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    
    
  }
  
  .product-list2 li h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  
  .product-list2 li p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
  }
  .product-list2 button {
    background-color: #385af3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 15px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 5px;
  }
  
  /* Estilo para o campo de frete */
  .shipping-section label {
    font-weight: bold;
  }
  
  .shipping-section input {
    margin-left: 8px;
    padding: 4px;
  }
  
  .shipping-section button {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .shipping-section p {
    margin-top: 8px;
    font-weight: bold;
  }
  
  